<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uams.rpc.base.mapper.MarketTradeDayMapper">
    <!-- 基础列 -->
    <sql id="marketTradeDayColumns">
        a.id as id,
        a.marketId as marketId,
        a.futureKindId as futureKindId,
        a.natureDay as natureDay,
        a.week as week,
        a.isTradeDay as isTradeDay,
        a.updateDate as updateDate
    </sql>

    <sql id="marketTradeDayJoinColumns">
        a.id as id,
        a.marketId as marketId,
        a.futureKindId as futureKindId,
        a.natureDay as natureDay,
        a.week as week,
        a.isTradeDay as isTradeDay,
        a.updateDate as updateDate,
        b.kindName as kindName,
        c.marketName as marketName
    </sql>

    <resultMap id="marketTradeDayResultMap" type="com.uams.rpc.base.model.MarketTradeDayModel">
        <id column="id" property="id" />
        <result column="marketId" property="marketId"/>
        <result column="futureKindId" property="futureKindId"/>
        <result column="natureDay" property="natureDay"/>
        <result column="week" property="week"/>
        <result column="isTradeDay" property="isTradeDay"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.uams.rpc.base.model.MarketTradeDayModel">
        insert into MarketTradeDay(
            id ,
            marketId ,
            futureKindId ,
            natureDay ,
            week ,
            isTradeDay ,
            updateDate 
        ) VALUES (
            #{id} ,
            #{marketId} ,
            #{futureKindId} ,
            #{natureDay} ,
            #{week} ,
            #{isTradeDay} ,
            #{updateDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        delete from MarketTradeDay where id = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        update MarketTradeDay set delFlag = 1 where id = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.uams.rpc.base.model.MarketTradeDayModel">
        insert into MarketTradeDay
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="marketId != null">
                marketId ,
        </if>
        <if test="futureKindId != null">
                futureKindId ,
        </if>
        <if test="natureDay != null">
                natureDay ,
        </if>
        <if test="week != null">
                week ,
        </if>
        <if test="isTradeDay != null">
                isTradeDay ,
        </if>
        <if test="updateDate != null">
                updateDate 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="marketId != null">
                #{marketId} ,
        </if>
        <if test="futureKindId != null">
                #{futureKindId} ,
        </if>
        <if test="natureDay != null">
                #{natureDay} ,
        </if>
        <if test="week != null">
                #{week} ,
        </if>
        <if test="isTradeDay != null">
                #{isTradeDay} ,
        </if>
        <if test="updateDate != null">
                #{updateDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.uams.rpc.base.model.MarketTradeDayModel">
        update MarketTradeDay
           <set>
            <if test="marketId != null">
                marketId = #{marketId} ,
            </if>
            <if test="futureKindId != null">
                futureKindId = #{futureKindId} ,
            </if>
            <if test="natureDay != null">
                natureDay = #{natureDay} ,
            </if>
            <if test="week != null">
                week = #{week} ,
            </if>
            <if test="isTradeDay != null">
                isTradeDay = #{isTradeDay} ,
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate} 
            </if>
           </set>
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into MarketTradeDay(
            id ,
            marketId ,
            futureKindId ,
            natureDay ,
            week ,
            isTradeDay ,
            updateDate 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            select
            #{item.id} ,
            #{item.marketId} ,
            #{item.futureKindId} ,
            #{item.natureDay} ,
            #{item.week} ,
            #{item.isTradeDay} ,
            #{item.updateDate} 
            from dual
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update MarketTradeDay set
            marketId = #{item.marketId} ,
            futureKindId = #{item.futureKindId} ,
            natureDay = #{item.natureDay} ,
            week = #{item.week} ,
            isTradeDay = #{item.isTradeDay} ,
            updateDate = #{item.updateDate} 
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.uams.rpc.base.model.MarketTradeDayModel">
        update MarketTradeDay set
            marketId = #{marketId} ,
            futureKindId = #{futureKindId} ,
            natureDay = #{natureDay} ,
            week = #{week} ,
            isTradeDay = #{isTradeDay} ,
            updateDate = #{updateDate} 
        where id = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.uams.rpc.base.model.MarketTradeDayModel">
        select <include refid="marketTradeDayColumns"/> from MarketTradeDay a where a.id = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.uams.rpc.base.model.MarketTradeDayModel">
        SELECT
        <include refid="marketTradeDayJoinColumns"/>
        FROM MarketTradeDay a
        left join futureKind b on a.futureKindId=b.id
        left join marketInfo c on c.id=a.marketId
        WHERE 1=1
        <if test="marketId != null">
            and a.marketId = #{marketId}
        </if>
        <if test="futureKindId != null">
            and a.futureKindId = #{futureKindId}
        </if>
        <if test="natureDay != null">
            and a.natureDay = #{natureDay}
        </if>
        <if test="week != null">
            and a.week = #{week}
        </if>
        <if test="isTradeDay != null">
            and a.isTradeDay = #{isTradeDay}
        </if>
        <if test="updateDate != null">
            and a.updateDate = #{updateDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.uams.rpc.base.model.MarketTradeDayModel">
        SELECT
        <include refid="marketTradeDayColumns"/>
        FROM MarketTradeDay a WHERE 1=1
    </select>


</mapper>

