<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uams.rpc.base.mapper.OrgTradeChannelCfgMapper">
    <!-- 基础列 -->
    <sql id="orgTradeChannelCfgColumns">
        a.id as id,
        a.orgId as orgId,
        a.marketId as marketId,
        a.futureKindId as futureKindId,
        a.stockHolderId as stockHolderId,
        a.tradeAcount as tradeAcount,
        a.fundAccout as fundAccout,
        a.updateDate as updateDate
    </sql>
    <sql id="orgTradeChannelCfgJoinColumns">
        a.id as id,
        a.orgId as orgId,
        a.marketId as marketId,
        a.futureKindId as futureKindId,
        a.stockHolderId as stockHolderId,
        a.tradeAcount as tradeAcount,
        a.fundAccout as fundAccout,
        a.updateDate as updateDate,
        b.kindName as kindName,
        c.marketName as marketName,
        d.stockHolderName as stockHolderName,
        e.orgName as orgName
    </sql>

    <resultMap id="orgTradeChannelCfgResultMap" type="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        <id column="id" property="id" />
        <result column="orgId" property="orgId"/>
        <result column="marketId" property="marketId"/>
        <result column="futureKindId" property="futureKindId"/>
        <result column="stockHolderId" property="stockHolderId"/>
        <result column="tradeAcount" property="tradeAcount"/>
        <result column="fundAccout" property="fundAccout"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        insert into OrgTradeChannelCfg(
            id ,
            orgId ,
            marketId ,
            futureKindId ,
            stockHolderId ,
            tradeAcount ,
            fundAccout ,
            updateDate 
        ) VALUES (
            #{id} ,
            #{orgId} ,
            #{marketId} ,
            #{futureKindId} ,
            #{stockHolderId} ,
            #{tradeAcount} ,
            #{fundAccout} ,
            #{updateDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        delete from OrgTradeChannelCfg where id = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        update OrgTradeChannelCfg set delFlag = 1 where id = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        insert into OrgTradeChannelCfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                id ,
        </if>
        <if test="orgId != null">
                orgId ,
        </if>
        <if test="marketId != null">
                marketId ,
        </if>
        <if test="futureKindId != null">
                futureKindId ,
        </if>
        <if test="stockHolderId != null">
                stockHolderId ,
        </if>
        <if test="tradeAcount != null">
                tradeAcount ,
        </if>
        <if test="fundAccout != null">
                fundAccout ,
        </if>
        <if test="updateDate != null">
                updateDate 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="orgId != null">
                #{orgId} ,
        </if>
        <if test="marketId != null">
                #{marketId} ,
        </if>
        <if test="futureKindId != null">
                #{futureKindId} ,
        </if>
        <if test="stockHolderId != null">
                #{stockHolderId} ,
        </if>
        <if test="tradeAcount != null">
                #{tradeAcount} ,
        </if>
        <if test="fundAccout != null">
                #{fundAccout} ,
        </if>
        <if test="updateDate != null">
                #{updateDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        update OrgTradeChannelCfg
           <set>
            <if test="orgId != null">
                orgId = #{orgId} ,
            </if>
            <if test="marketId != null">
                marketId = #{marketId} ,
            </if>
            <if test="futureKindId != null">
                futureKindId = #{futureKindId} ,
            </if>
            <if test="stockHolderId != null">
                stockHolderId = #{stockHolderId} ,
            </if>
            <if test="tradeAcount != null">
                tradeAcount = #{tradeAcount} ,
            </if>
            <if test="fundAccout != null">
                fundAccout = #{fundAccout} ,
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate} 
            </if>
           </set>
        where id = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        insert into OrgTradeChannelCfg(
            id ,
            orgId ,
            marketId ,
            futureKindId ,
            stockHolderId ,
            tradeAcount ,
            fundAccout ,
            updateDate 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            select
            #{item.id} ,
            #{item.orgId} ,
            #{item.marketId} ,
            #{item.futureKindId} ,
            #{item.stockHolderId} ,
            #{item.tradeAcount} ,
            #{item.fundAccout} ,
            #{item.updateDate} 
            from dual
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update OrgTradeChannelCfg set
            orgId = #{item.orgId} ,
            marketId = #{item.marketId} ,
            futureKindId = #{item.futureKindId} ,
            stockHolderId = #{item.stockHolderId} ,
            tradeAcount = #{item.tradeAcount} ,
            fundAccout = #{item.fundAccout} ,
            updateDate = #{item.updateDate} 
            where id = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        update OrgTradeChannelCfg set
            orgId = #{orgId} ,
            marketId = #{marketId} ,
            futureKindId = #{futureKindId} ,
            stockHolderId = #{stockHolderId} ,
            tradeAcount = #{tradeAcount} ,
            fundAccout = #{fundAccout} ,
            updateDate = #{updateDate} 
        where id = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        select <include refid="orgTradeChannelCfgColumns"/> from OrgTradeChannelCfg a where a.id = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        SELECT
        <include refid="orgTradeChannelCfgJoinColumns"/>
        FROM OrgTradeChannelCfg a
        left join futureKind b on a.futureKindId=b.id
        left join marketInfo c on c.id=a.marketId
        left join stockHolder d on d.id=a.stockHolderId
        left join Organization e on e.id=a.orgId
        WHERE 1=1
        <if test="orgId != null">
            and a.orgId = #{orgId}
        </if>
        <if test="marketId != null">
            and a.marketId = #{marketId}
        </if>
        <if test="futureKindId != null">
            and a.futureKindId = #{futureKindId}
        </if>
        <if test="stockHolderId != null">
            and a.stockHolderId = #{stockHolderId}
        </if>
        <if test="tradeAcount != null">
            and a.tradeAcount like '%'||#{tradeAcount}||'%'
        </if>
        <if test="fundAccout != null">
            and a.fundAccout like '%'||#{fundAccout}||'%'
        </if>
        <if test="updateDate != null">
            and a.updateDate = #{updateDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.uams.rpc.base.model.OrgTradeChannelCfgModel">
        SELECT
        <include refid="orgTradeChannelCfgColumns"/>
        FROM OrgTradeChannelCfg a WHERE 1=1
    </select>


</mapper>

